.navLink {
  &:hover {
    transform: scale(1.1);
  }
  &:active {
    transform: scale(0.9);
  }
}

.link {
  font-size: 19px;
  font-weight: 500;
  color: #fff;

  &.active {
    color: #f3aa4e;
  }
}
