@import url(../../styles/anim.scss);

.section {
  position: relative;
}

.content {
  margin-top: 80px;
  display: flex;
  align-items: center;
  gap: 18%;
}
.avatar {
  z-index: 5;
}
.img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #f1e9e9;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  img {
    width: 300px;
  }
}

.personalInfo {
  h4 {
    margin: 20px auto;
    width: fit-content;
    font-size: 20px;
  }

  p {
    margin: auto;
    width: fit-content;
    font-size: 30px;
  }
}

.info {
  width: 45%;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 40px;
  h3 {
    margin: 0;
    color: transparent;
    animation: animHeader 2s forwards;
  }
  p {
    margin-bottom: 0;
  }
}
.link {
  margin-top: 20%;
  height: 80px;
  text-align: center;
  a {
    font-size: 50px;
    &:hover {
      font-size: 48px;
    }
  }
}
