@import url(../../styles/anim.scss);

@mixin bubble($width, $time) {
  bottom: -150px;
  width: $width;
  position: absolute;
  animation: animBubble $time linear infinite;
}

.animation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  opacity: 0.5;
}

.bubble_1 {
  left: -210px;
  @include bubble(150px, 40s);
}

.bubble_2 {
  right: 200px;
  @include bubble(125px, 50s);
}

.bubble_3 {
  @include bubble(50px, 36s);
}

.bubble_4 {
  right: 110px;

  @include bubble(75px, 42s);
}

.bubble_5 {
  left: 210px;

  @include bubble(100px, 48s);
}

.bubble_6 {
  right: 210px;

  @include bubble(150px, 60s);
}

.bubble_7 {
  left: 410px;

  @include bubble(80px, 58s);
}

.bubble_8 {
  right: 210px;

  @include bubble(100px, 44s);
}

.bubble_9 {
  left: 410px;

  @include bubble(50px, 46s);
}

.bubble_10 {
  right: 310px;

  @include bubble(30px, 49s);
}

.bubble_11 {
  left: 610px;

  @include bubble(50px, 31s);
}

.bubble_12 {
  right: 510px;

  @include bubble(55px, 32.8s);
}

.bubble_13 {
  left: 710px;

  @include bubble(30px, 29.3s);
}

.bubble_14 {
  right: 610px;

  @include bubble(40px, 27.5s);
}

.bubble_15 {
  left: 810px;

  @include bubble(59px, 27s);
}

.bubble_16 {
  right: 810px;

  @include bubble(75px, 24s);
}

.bubble_17 {
  left: 910px;

  @include bubble(70px, 35.5s);
}

.bubble_18 {
  right: 910px;

  @include bubble(80px, 47s);
}