.footer {
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #576067;
  font-size: 12px;
  background-color: #191919;
  border-radius: 6px;
}

.logo img {
  width: 30px;
}
