.footer {
  margin-top: 30px;
  padding: 0 20px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #576067;
  font-size: 15px;
  border-radius: 6px;
  z-index: 10;
  flex: 0 0 auto;

  a {
    color: #f3aa4e;
  }
}

.logo {
  span {
    margin-right: 10px;
    vertical-align: 50%;
  }

  img {
    width: 35px;
  }
}