@import url(../../styles/anim.scss);

.section {
  font-family: "Courier New", Courier, monospace;
  position: relative;
  h2 {
    text-align: center;
    font-size: 40px;
    color: transparent;
    animation: animHeader 2s forwards;
  }
}

.content {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
